<a href="https://colab.research.google.com/github/diogenesjusto/FIAP/blob/master/SHIFT/202302/t36_Aula_4_Regressoes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 0. Carga de bibliotecas
import pandas as pd
from sklearn.linear_model import LinearRegression
import numpy as np

In [26]:
# 1. Carga de dados
df = pd.read_csv("https://raw.githubusercontent.com/diogenesjusto/FIAP/master/SHIFT/Data/pib.csv")
df.head()

,Unnamed: 0,ANO_MES,PIB,BRL,BRP,BRT,SLP,SPP,SPT,PRL,...,PIBi3,PIBi4,PIBi5,PIBi6,PIBi7,PIBi8,PIBi9,PIBi10,PIBi11,PIBi12
0,1,jan/04,103.09,109.19,108.67,109.08,102.84,114.27,105.38,127.49,...,106.27,104.52,102.59,102.24,99.96,101.93,101.17,101.70,100.03,100.00
1,2,fev/04,102.05,95.65,104.52,97.63,90.76,109.83,94.99,96.60,...,104.10,106.27,104.52,102.59,102.24,99.96,101.93,101.17,101.70,100.03
2,3,mar/04,110.43,91.69,125.53,99.26,89.78,133.24,99.43,83.79,...,103.91,104.10,106.27,104.52,102.59,102.24,99.96,101.93,101.17,101.70
3,4,abr/04,106.77,95.36,118.34,100.49,94.58,123.55,101.02,91.79,...,103.09,103.91,104.10,106.27,104.52,102.59,102.24,99.96,101.93,101.17
4,5,mai/04,108.08,92.47,121.49,98.96,91.34,128.32,99.55,85.73,...,102.05,103.09,103.91,104.10,106.27,104.52,102.59,102.24,99.96,101.93

In [8]:
# 2. Separação de amostras de treino e teste
treino = df.iloc[0:124]
teste = df.iloc[125:137]

(12, 38)

In [32]:
# 3. Preparação / modelo
Y_treino = treino.iloc[:,[2]]

# REGRESSÃO
# X_treino = treino.loc[:,["BRL"]]  # RLS BRL
# X_treino = treino.loc[:,["BRL","BRP"]]  # RLM BRL+BRP
# X_treino = treino.loc[:,["PIBi1","PIBi2"]]  # AR2
# X_treino = treino.loc[:,["PIBi1","PIBi2","PIBi4", "PIBi12"]]  # AR4-O3+S12
X_treino = treino.loc[:,["BRL","BRP","D1", "D5", "D11"]]  # RLM BRL+BRP+D1+D5+D11

mod = LinearRegression()
mod.fit(X_treino, Y_treino)

LinearRegression()

In [33]:
# 4. Previsão com dados de teste
#X_teste  = teste.loc[:,["BRL"]]
#X_teste  = teste.loc[:,["BRL","BRP"]]
#X_teste  = teste.loc[:,["PIBi1","PIBi2"]]
#X_teste  = teste.loc[:,["PIBi1","PIBi2", "PIBi4", "PIBi12"]] 
X_teste  = teste.loc[:,["BRL","BRP","D1", "D5", "D11"]]

Y_prev = mod.predict(X_teste)
Y_real = teste.loc[:, ['PIB']]

erro = Y_real - Y_prev
erro_abs_medio = np.mean(abs(erro))

erro_abs_medio

PIB    2.57407
dtype: float64