<a href="https://colab.research.google.com/github/diogenesjusto/FIAP/blob/master/SHIFT/202302/t36_Aula_2_Estat%C3%ADstica_Descritiva.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Curso Big Data Science - Turma 36 Aula 2 - Estatística Descritiva

In [1]:
# Carga da biblioteca pandas para manipular conjuntos de dados
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/diogenesjusto/FIAP/master/Gradua%C3%A7%C3%A3o/dados/diamonds.csv")

In [3]:
# Visualizar dataframe
df.head()

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75

In [6]:
# Estatísticas descritivas 

# Média (aritmética)
df[['price']].mean()

price    3932.799722
dtype: float64

In [7]:
# Mediana
df[['price']].median()

price    2401.0
dtype: float64

In [8]:
# Desvio Padrão
df[['price']].std()

price    3989.439738
dtype: float64

In [13]:
# Geração de amostras
# Queremos uma amostra de 3 mil linhas
a1 = df.iloc[0:2999, :]
a1.shape

(2999, 11)

In [14]:
a1[['price']].mean()

price    2738.932978
dtype: float64

In [15]:
a1[['price']].median()

price    2963.0
dtype: float64

In [16]:
a1[['price']].std()

price    793.63371
dtype: float64

Conclusão: amostra a1 tem estatísticas descritivas bem diferentes das população, portanto rejeitamos utilizá-la para descrever ou fazer inferências sobre a população.

Tentaremos a geração de uma 2a amostra a2.

In [18]:
a2  = df.iloc[3000:5999, :]

In [20]:
a2[['price']].mean()

price    3324.236746
dtype: float64

In [21]:
a2[['price']].median()

price    3601.0
dtype: float64

In [22]:
a2[['price']].std()

price    941.000147
dtype: float64

Conclusão: amostra a2 tem estatísticas descritivas bem diferentes das população, portanto rejeitamos utilizá-la para descrever ou fazer inferências sobre a população.

Tentaremos utilizar a geração de uma amostra aleatória.

In [65]:
# Geração de amostra aleatória
a3 = df.sample(3000, random_state=1)
a3.head()

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
2714,2715,0.33,Ideal,H,SI1,61.7,55.0,564,4.43,4.46,2.74
14653,14654,1.20,Ideal,I,VS2,62.1,57.0,5914,6.78,6.71,4.19
52760,52761,0.62,Ideal,D,VS1,61.0,57.0,2562,5.51,5.54,3.37
48658,48659,0.34,Good,H,VS2,63.1,56.0,537,4.41,4.46,2.80
14812,14813,1.20,Ideal,E,SI2,62.5,55.0,5964,6.77,6.84,4.25

In [66]:
a3[['price']].mean()

price    3966.751
dtype: float64

In [67]:
a3[['price']].median()

price    2552.0
dtype: float64

In [68]:
a3[['price']].std()

price    3943.221253
dtype: float64