In [17]:
import pandas as pd
from sklearn import tree
from sklearn.metrics import accuracy_score

df = pd.read_csv('https://raw.githubusercontent.com/diogenesjusto/FIAP/master/Gradua%C3%A7%C3%A3o/dados/dados_arvore_titanic.csv')

df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
# Tratamento de dados

In [14]:
# Exercício 1 - implementar a separação de base treino e teste, sendo 67,34% na base treino e o restante no teste
x_treino = df[['Fare']]
y_treino = df['Survived']
teste  = df

In [15]:
# Modelo de árvore de decisão
mod = tree.DecisionTreeClassifier()
mod = mod.fit(x_treino, y_treino)

In [18]:
# Previsão em treino
# Substituito pelo dataframe de teste

y_prev = mod.predict(x_treino)
accuracy_score(y_treino, y_prev)

0.8035914702581369