
**Desafio Titanic: https://www.kaggle.com/competitions/titanic/overview**

Galera,
Ao se cadastrar no Kaggle, display name preencham com FSBDS*NúmeroDaMinhaTurma*_MeuNome. O script em Python abaixo "escora" ~0.65. Minha sugestão é vocês rodarem inicialmente o modelo do jeito que está para conhecer a "sistemática" do Kaggle.

Ao se cadastrarem no Kaggle, incluam no campo "Display name" a tag "FSBDS" antes do nome de vocês, assim ó: FSBDS44_DiogenesJusto.

Passo 1: Não é necessário baixar os arquivos train.csv e test.csv, já coloquei no github para facilitar o trabalho de vocês.
padrão do Windows, na pasta Documentos")
Passo 2: Executem o script abaixo (copiar e colar no Colab) para ver se está tudo funcionando.
Passo 3: Submetam o arquivo predict.csv.
A partir daí é trabalhar os dados train e test e também selecionar variáveis diferentes para melhorar o escore de vocês:.

In [1]:
# Carga Bibliotecas e Dados
import pandas as pd
from sklearn.linear_model import LinearRegression

train = pd.read_csv("https://raw.githubusercontent.com/diogenesjusto/FIAP/master/SHIFT/Data/titanic/train.csv")
test = pd.read_csv("https://raw.githubusercontent.com/diogenesjusto/FIAP/master/SHIFT/Data/titanic/test.csv")

In [2]:
# Preparação/Modelo
mod = LinearRegression()
X = train.loc[:,['Embarked']]
# Variável Embarked é tratada como Dummy (caso similar as meses do Pib), visto que é uma variável categórica
X = pd.get_dummies(X)
# DICA DE PYTHON (muitos perguntam): Se você desejar UNIR dois dataframes utilize o comando=> X = pd.concat([X, X], axis=1) <= no exemplo "dentro" dos sinais > e <, o dataframe X é "duplicado" lado a lado. Faça o teste
Y = train.loc[:,['Survived']]
mod.fit(X ,Y )

X_test = test.loc[:,['Embarked']]
X_test = pd.get_dummies(X_test)
p = mod.predict(X_test)

# As linhas abaixo só montam o arquivo de saída que será utilizado no Kaggle, com destaque para
# como o resultado da variável p é um número entre 0 e 1, convertemos ele para 0 se for menor que 0.5 e para 1 se maior
Survived_Predict = [1 if  i > 0.5 else 0 for i in p]
df_pred = test.loc[:,['PassengerId']]
df_pred['Survived'] = Survived_Predict

from google.colab import files
df_pred.to_csv('predict.csv', index=False)
files.download('predict.csv')

In [3]:
train

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q